{% extends "::base.html.twig" %}

{% block title %}{{ cmfMainContent.title|striptags }}{% endblock %}

{% block content %}
<div class="breadcrumb">
    <ul>
        {% for title, url in knp_menu_get('simple').currentItem.breadcrumbsArray %}
            <li><a href="{{url}}">{{ title }}</a></li>
            <span class="divider">/</span>
        {% endfor %}
    </ul>
</div>

    {% createphp cmfMainContent as="rdf" %}
    {{ rdf|raw }}
    {% endcreatephp %}

{% endblock %}

